.btn {
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.blocks_block {
  height: 16rem;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.blocks_block:hover {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
}

.blocks_block {
  border-radius: 0.75rem;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.dark .blocks_block {
  --tw-bg-opacity: 1;
  background-color: rgba(10, 10, 10, var(--tw-bg-opacity));
}

.blocks_block {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.title_line {
  margin-bottom: 0.75rem;
  height: 0.125rem;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgba(239, 68, 68, var(--tw-bg-opacity));
}

.dark .title_line {
  --tw-bg-opacity: 1;
  background-color: rgba(34, 211, 238, var(--tw-bg-opacity));
}

.title_line {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
}

@media (min-width: 1024px) {
  .title_line {
    height: 0.25rem;
  }
}

.headline_tag {
  -webkit-animation: gradient-x 7s ease;
          animation: gradient-x 7s ease;
  background-image: linear-gradient(to left, var(--tw-gradient-stops));
  --tw-gradient-from: #ef4444;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(239, 68, 68, 0));
}

.dark .headline_tag {
  --tw-gradient-from: #67e8f9;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(103, 232, 249, 0));
}

.headline_tag {
  --tw-gradient-stops: var(--tw-gradient-from), #991b1b, var(--tw-gradient-to, rgba(153, 27, 27, 0));
}

.dark .headline_tag {
  --tw-gradient-stops: var(--tw-gradient-from), #ecfeff, var(--tw-gradient-to, rgba(236, 254, 255, 0));
}

.headline_tag {
  --tw-gradient-to: #dc2626;
}

.dark .headline_tag {
  --tw-gradient-to: #67e8f9;
}

.headline_tag {
  background-size: 200%;
  -webkit-background-clip: text;
          background-clip: text;
  background-position: right;
  text-align: left;
  font-family: Montserrat, sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  text-transform: uppercase;
  color: transparent;
}

@media (min-width: 1024px) {
  .headline_tag {
    text-align: right;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.section_title {
  display: inline-block;
  -webkit-animation: gradient-x 7s ease;
          animation: gradient-x 7s ease;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #ef4444;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(239, 68, 68, 0));
  --tw-gradient-stops: var(--tw-gradient-from), #ec4899, var(--tw-gradient-to, rgba(236, 72, 153, 0));
  --tw-gradient-to: #06b6d4;
  background-size: 200%;
  -webkit-background-clip: text;
          background-clip: text;
  background-position: right;
  font-family: Montserrat, sans-serif;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: transparent;
}

@media (min-width: 1024px) {
  .section_title {
    font-size: 3.75rem;
    line-height: 1;
  }
}

.primary_background {
  -webkit-animation: gradient-x 7s ease;
          animation: gradient-x 7s ease;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #f5f5f5;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(245, 245, 245, 0));
}

.dark .primary_background {
  --tw-gradient-from: #0A0A0A;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(10, 10, 10, 0));
  --tw-gradient-stops: var(--tw-gradient-from), #ef4444, var(--tw-gradient-to, rgba(239, 68, 68, 0));
}

.primary_background {
  --tw-gradient-to: #22d3ee;
}

.dark .primary_background {
  --tw-gradient-to: #ec4899;
}

.primary_background {
  background-size: 200%;
  background-position: right;
}

.image_responsive {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.block_item {
  display: flex;
  height: 24rem;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.block_item:hover {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
}

.block_item {
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.75rem;
  border-width: 2px;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.block_item > .block_top {
    overflow: hidden;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem
  }

.block_item > .block_top > .block_image {
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      opacity: 0.9;
      transition-property: opacity;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
      transition-duration: 200ms;
    }

@media (min-width: 1024px) {
      .block_item > .block_top > .block_image {
        opacity: 0.8;
      }
    }

.block_item > .block_bot {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom-right-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
  }

@media (min-width: 1024px) {
    .block_item > .block_bot {
      padding-left: 3rem;
      padding-right: 3rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }

.block_item > .block_bot > .block_title {
      -webkit-user-select: all;
         -moz-user-select: all;
              user-select: all;
      font-family: Montserrat, sans-serif;
      font-size: 1.125rem;
      line-height: 1.75rem;
      font-weight: 700;
      text-transform: uppercase;
    }

@media (min-width: 1024px) {
      .block_item > .block_bot > .block_title {
        font-size: 1.25rem;
        line-height: 1.75rem;
      }
    }

.block_item > .block_bot > .block_text {
      -webkit-user-select: all;
         -moz-user-select: all;
              user-select: all;
      font-family: Noto Sans, sans-serif;
      font-size: 1rem;
      line-height: 1.5rem;
    }

@media (min-width: 1024px) {
      .block_item > .block_bot > .block_text {
        font-size: 1.125rem;
        line-height: 1.75rem;
      }
    }

.info_image {
  background: url('/src/images/Block_image.png');
}

.detail_image_bg {
  background: url('/src/images/Block_image.png');
}
