.btn {
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.title_line {
  margin-bottom: 0.75rem;
  height: 0.125rem;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgba(239, 68, 68, var(--tw-bg-opacity));
}

.dark .title_line {
  --tw-bg-opacity: 1;
  background-color: rgba(34, 211, 238, var(--tw-bg-opacity));
}

.title_line {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
}

@media (min-width: 1024px) {
  .title_line {
    height: 0.25rem;
  }
}

.section_title {
  display: inline-block;
  -webkit-animation: gradient-x 7s ease;
          animation: gradient-x 7s ease;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #ef4444;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(239, 68, 68, 0));
  --tw-gradient-stops: var(--tw-gradient-from), #ec4899, var(--tw-gradient-to, rgba(236, 72, 153, 0));
  --tw-gradient-to: #06b6d4;
  background-size: 200%;
  -webkit-background-clip: text;
          background-clip: text;
  background-position: right;
  font-family: Montserrat, sans-serif;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: transparent;
}

@media (min-width: 1024px) {
  .section_title {
    font-size: 3.75rem;
    line-height: 1;
  }
}
